<nav class="h-20 w-full">
  <ul class="flex p-7 items-center justify-between w-full h-full bg-primary text-gray-300 mt-20">
    <a href="/">
      <img src="/img/dd_logo.png"/>
    </a>
    <button class="bg-discord-blue p-2 rounded-xl">
      Join the Discord
    </button>
  </ul>