<nav class="flex flex-col md:flex-row justify-between w-full bg-primary text-gray-300 mt-12 items-start">
  <div class="flex flex-col w-full md:w-1/2">
    <a href="/">
      <img src="/img/dd_logo.png"/>
    </a>
    <p class="heading-text mt-10 md:mt-20 w-full text-lg md:text-2xl">Showcasing community members and the topics they are passionate about through an ongoing interview series on the Jamstack Discord Stage</p>
  </div>

  <button class="bg-discord-blue p-1 rounded-xl self-center md:self-start w-1/2 md:w-1/5 mt-6 md:mt-0">
      Join the Discord
  </button>
</nav>