---
title: Homepage
layout: layouts/base.njk
---

{% for episode in episodes %}
  {% if episode.up_next === true %}
    <div class="rounded-xl w-full lg:min-w-[700px] h-[420px] mx-auto bg-border-gradient-pink-orange p-[20px] mt-12 overflow-hidden font-black">
      <div class="wrapper">
        <div class="left flex-col">
          <img class="w-[50%] mb-3" src="/img/dd_logo_2.png" />
          <div class="w-[50%]">            
            <p class="text-2xl font-dark">Collaboration between devs and designers + having fun with CSS</p>
            <p class="mt-3 text-orange capitalize">{{ episode.when }}</p>
          </div>
          <div>
            <p>Hosted By Domitrius Clark</p>
            <p class="text-discord-blue">discord.gg/jamstack</p>
          </div>
        </div>
        <div class="right flex-col">
          <img class="rounded-full w-[35%]" src="{{ episode.photo | removeTrailingSlash }}"/>
          <h1 class="bg-pink px-12 py-3 mt-[-32px] font-["ITC Avant Garde Gothic Pro"]">{{ episode.name }}</h1>
          <p class="font-medium leading-10">{{ episode.title }}</p>
          <p class="text-green-accent">{{episode.twitter}}</p>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

<h1 class="text-2xl text-center my-20">Previous Episodes</h1>

<div class="flex flex-wrap gap-1 w-full">
  {% for episode in episodes %}
    {% if episode.up_next === false %}
      <div class="rounded-2xl w-[250px] mx-auto hover:bg-gradient-to-r from-pink to-orange p-[6px] mt-20">
        <div class="flex flex-col justify-between h-full bg-gradient-blue-purple text-white rounded-2xl p-5">
          <img class="rounded-full self-center mt-[-86px] w-[140px] h-[140px]" src="{{ episode.photo | removeTrailingSlash }}"/>
          <h2 class='bg-primary-blue text-center mt-[-25px] rounded-md py-1'>{{ episode.name }}</h2>
          <p>{{ episode.title }}</p>
          <p>{{ episode.topic }}</p>
          <p>{{episode.when}}</p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>